body {
    font-family: 'Poppins', sans-serif;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://images.unsplash.com/photo-1519389950473-47ba0277781c") center/cover no-repeat;
    color: white;
    padding: 120px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.2rem;
}

.btn-custom {
    background-color: #ff9100;
    color: white;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s ease;
}

.btn-custom:hover {
    background-color: #ff6f00;
    color: white;
}

/* Cards */
.highlight-card {
    transition: 0.3s;
}

.highlight-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(239, 28, 98, 0.2);
}

/* Footer */
footer {
    background: #222;
    color: #ddd;
    padding: 40px 0;
}

footer p {
    margin: 5px 0;
}

.list-group:hover {
     transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(199, 16, 77, 0.2);

}